* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif !important;
	list-style: none;
	box-sizing: border-box;
	/* border:1px solid red; */
}

  

:root {
	--primary: #5C88E8;
	--primary-white: #F6F6F6;
	--primary--black: rgba(0, 0, 0, 0.763);
	--small-text: 13px;
	--normal--para: 15px;
	--h1: 50px;
	--h2: 25px;
	--h3: 20px;
	--main: 30px;
	--border-radius: 50px;
	--mainColor: #127A93;
	--color1: #0C5C97;
	--subColor: #FAD509;
	--paragraphSize: 18px;
	--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.seooooo{
	position: relative;
}
.seo_rightdiv,.seo_leftdiv{
	height: max-content;
	padding-bottom: 20px;
}
.seo_rightside-img{
	width: 80%;
margin-left: 6%;
	margin-top: 12%;
	position: relative;

}
.seo_rightpercentage-img{
width: 22%;
position: absolute;
top: 14%;
rotate:10deg;
left: 42%;
}
.seo_rightside-h3{
	font-size: var(--h3);
}
.seo_rightside-p,.seo_leftdiv-p{
	font-size: var(--paragraphSize);
}
.seo_bulletpoints-row{
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.seo_leftdiv-h1{
font-size: var(--main);
color: var(--color1);
}
.seo_text-reset:hover{
color: var(--mainColor);
}
.seo_leftdiv-h12{
font-size: var(--main);
}
.seo_leftdiv-p1{
	font-size: var(--normal--para);
}
.seo_leftdiv-heading {
	color: var(--mainColor);
}
.seo_leftdiv-small-para {
font-size: var(--paragraphSize);
margin-top: 2%;
}
.seo_icons{
color: var(--primary);
}
.seo_leftdiv-small{
	height: 33px;
}
.seo_col1{
width:auto ;
padding: 0;
margin: 0%;

}
.seo_col2{
width:auto ;
}
.seo_leftdiv-small{
	height: auto;
	padding-top: 1px;
	padding-bottom: 1px;	
}
@media screen and (max-width:1000px){
	.seo_col1{
	display: none;
		
		}
		.seo_rightpercentage-img{
			top: 11%;
	
			}		
}
@media screen and (max-width:927px){
	.seo_rightpercentage-img{
		top: 9%;

		}	
}
@media screen and (max-width:852px){
	.seo_rightpercentage-img{
		top: 8%;

		}	
}
@media screen and (max-width:759px){
	.seo_rightpercentage-img{
		top: 7%;

		}	
		.seo_text-reset{
font-size: 13px;
		}
}
@media screen and (max-width:692px){
	.seo_rightpercentage-img{
		top: 6%;

		}	
}
@media screen and (max-width:619px){
	.seo_rightpercentage-img{
		top: 5%;

		}	
}

@media screen and (max-width:572px){
	.seo_col1{
	display: block;
		
		}	
		.seo_rightpercentage-img{
			width: 20%;
	top: 20%;
	left: 43%;
			}	
}
@media screen and (max-width:491px){

		.seo_rightpercentage-img{
		
	top: 17%;

			}	
}
@media screen and (max-width:460px){

	.seo_rightpercentage-img{
	
top: 16%;

		}	
}
@media screen and (max-width:426px){

	.seo_rightpercentage-img{
	
top: 15%;

		}	
}
@media screen and (max-width:389px){

	.seo_rightpercentage-img{
	
top: 14%;

		}	
}
@media screen and (max-width:349px){

	.seo_rightpercentage-img{
	
top: 13%;

		}	
}
@media screen and (max-width:321px){

	.seo_rightpercentage-img{
	
top: 12%;

		}	
}
@media screen and (max-width:312px){

	.seo_rightpercentage-img{
	
top: 12%;

		}	
}
@media screen and (max-width:285px){

	.seo_rightpercentage-img{
	
top:10%;

		}	
}
@media screen and (max-width:276px){

	.seo_rightpercentage-img{
	
top: 10%;

		}	
}
@media screen and (max-width:258px){

	.seo_rightpercentage-img{
	
top: 9%;

		}	
}
@media screen and (max-width:238px){

	.seo_rightpercentage-img{
	
top: 8%;

		}	
}