.testimonials-div{
  height: 600px;
}
.testimonial_img-div{
width: 345px;
height: 98%;
display: flex;
justify-content: center;
align-items: center;
}

.testimonial_img{
  width: 100%;
  height: auto;
}
.testimonial_rightside{
width:calc(100% - 345px) ;

}
.testimonial_sub-div{
  margin-left: 3%;
}
.testimonial_p{
  font-size:var(--paragraphSize) ;
}
.testimonial_row{
  height: 260px;
  width: 95%;
}
.testimonial_col_row1{
  height: 50px;
}
.t_icon{
  color: var(--mainColor);
}
.testimonial-btn{
  width: 280px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--color1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:20px;
  margin-top:0 !important;
}
.testimonial-btn-p{
  text-align: center;
  font-size:16px !important;
  margin-top: 2.3%;
}
.testimonial_img2{
 display: none;
   }
@media screen and (max-width:815px){
 .testimonial_img{
  display: none;
 }
 .testimonial_img2{
  display: block;
width: 100%;
 }
 .testimonial_img-div{
  width: 96%;
  height: auto;

 }
 .testimonial_sub-div{
  display: flex;
 }
 .testimonial_rightside{
  width: 100%;
  margin-top: 4%;

 }
}
@media screen and (max-width:466px){
  .testimonial_row{
    height: max-content;
    width: 100%;
  }
  .testimonial_col_row1{
    height: max-content;
  }
  .testimonial-btn{
    margin: auto;
    margin-left: 0%;
    margin-top: 2%;
  }
  .testimonial_rightside{
    margin-left: 0;
    width: 100%;
  }
  .testimonial_sub-div{
  margin-left: 0%;
  }
}

.extra-cross{
  overflow: hidden;
}
.extra-cross2{
  padding-right:20px !important;
  font-size:17px !important;
}
.extra-cross3{
  padding:0 !important;
  margin:0 !important;
}
.extra-cross4{
  margin:0 !important;
  padding:0 !important;
  /* border:1px solid red !important; */
}