.solutions{
    height: auto;
    width: 100%;
    background-image: url('/public/images/backgrond.webp');
    padding: 40px 60px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
 }
 .solutions .cont{
     height: auto;
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     flex-wrap: wrap;
     align-items: center;
 }
 .solutions h1{
     color: white;
     font-size: 45px;
 }
 .solutions .left, .solutions .right{
    height: auto;
    width: calc(35% - 20px);
 }
 .solutions .box1{
     padding: 7% 2%;
     height: auto;
     text-align: left;
     border-radius: 10px;
     margin-top: 30px;
     display: flex;
     align-items: flex-start;
     box-shadow:1px 0px 8px 24px ;
 }
 .solutions .good{
     font-size: 45px;
     color: #21B573;
 }
 .solutions .li1{
     color: #21B573;
     font-size: 19px;
 }
 .solutions ul li{
    color:white;
}

/* ----- */

@media screen and (max-width:1000px) {
    .solutions .center{
        display: none;
    }
    .solutions .left, .solutions .right{
        width: calc(50% - 20px);
    }
    
}

@media screen and (max-width:750px) {
    .solutions .left, .solutions .right{
        width: 100%;
        padding: 0 30px;
    }
    .solutions .box1{
        text-align: left;
        margin: 10px;
    }
}

@media screen and (max-width:450px) {
    .solutions .left, .solutions .right{
        padding: 0;
    }
    .solutions{
        padding: 20px 10px;
    }
}

@media screen and (max-width:425px) {
    .solutions h1{
        font-size:25px;
    }
    .li1{
        font-size:15px !important;
    } 
    .lala{
        font-size:14px !important;
    }
    .good{
        font-size:20px !important;
    }
    .box1{
        width:100%;
        margin:0 !important;
    }
}